---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Om | Markus Steen" description="Om Markus Steen">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Om"
				tagline="Takk for tiden! Les videre for å lære om meg og min bakgrunn."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Bakgrunn</h2>
				<div class="content">
					<p>
						Jeg er en 23 år gammel HR og teknologi student, med stor lidenskap for samarbeidet mellom menneske og maskin, mens på fritiden er jeg mye i naturen, trening eller på nye eventyr. Jeg er en svært utadvendt og energisk person, med syv års erfaring i salg fra Elkjøp som har gitt meg tryggheten i å håndtere utfordrende situasjoner med profesjonalitet og ro.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Utdanning</h2>
				<div class="content">
					<h3 class="section-title">2023 - Hawaii Pacific University</h3>
					<div class="content">
					<p>
						Jeg tilbrakte mitt 4.semester på Hawai’i Pacific University, for å utvide mine akademiske og kulturelle horisonter. Jeg valgte å studere et variert utvalg av fag, men med hovedfokus innen Computer Science som var tre av mine fem fag. 
Gjennom dette utvekslingsprogrammet oppnådde jeg en sterk forståelse av programmeringsspråk som Java og Python, samt utviklet mine ferdigheter i muntlig kommunikasjon og mellommenneskelige relasjoner.
					</p>
					<p>
						
					</p>
					</div>
					<h3 class="section-title">Høyskolen Kristiania</h3>
					<div class="content">
					<p>
						Jeg begynte å studere HR, teknologi og digitalisering ved Høyskolen Kristiania Bergen i august 2021. Som en del av dette programmet har jeg tilegnet meg inngående kunnskap om fagområdene SAP, HR og digitalisering gjennom kurs og prosjekter.

Dette studiet har gitt meg muligheten til å utvikle sterke ferdigheter innenfor teknologi, samtidig som jeg lærer hvordan HR kan optimaliseres ved å bruke teknologiske verktøy og strategier.

Mitt mål er å bruke denne utdannelsen til å bidra til utviklingen av HR og teknologi i organisasjoner, og å være en del av det stadig voksende digitale arbeidsmarkedet. Jeg tror at denne kombinasjonen av HR og teknologi vil være svært verdifull for fremtidens arbeidsplasser, og jeg ser frem til å være en del av det.
					</p>
					<p>

					</p>
					</div>
					<h3 class="section-title">Universitetet i Agder</h3>
					<div class="content">
					<p>
						I 2020 begynte jeg på en bachelorgrad i Markedsføring og Ledelse, men etter å ha fullført noen fag og utforsket faget nærmere, innså jeg at dette ikke var den rette retningen for meg.
Jeg ble imidlertid interresert i fagene Markedsføring og Rettslære, hvor jeg oppnådde toppkarakterer.
					</p>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Ferdigheter</h2>
				<div class="content">
					<p>
					Cloud Management<img
					alt="skills"
					width="40"
					height="40"
					src="/assets/skillsicons/cloud-server.png"/>
				
					
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
