---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Om | Markus Steen" description="Om Markus Steen">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Om"
				tagline="Takk for tiden! Les videre for å lære om meg og min bakgrunn."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h3 class="section-title">2023 - Hawaii Pacific University</h3>
					<div class="content">
					<p>
						Jeg valgte (så klart) å ta mitt 4. semester i Honolulu, Hawaii.

						Her tar jeg fagene Computer Science 2, Programming, Public Speaking og International Relations.
					</p>
					</div>
					<h3 class="section-title">Høyskolen Kristiania</h3>
					<div class="content">
					<p>
						Jeg valgte å flytte teknologi fra "hobby" til "karriere" og startet på HR, Teknologi og digitalisering. Dette studiet
						blander min teknologiske lidenskap med HR aspektet, noe jeg synes er spennende og relevant da vi ser mer og mer teknologi på arbeidsplassen.
					</p>
					</div>
					<h3 class="section-title">Universitetet i Agder</h3>
					<div class="content">
					<p>
						Jeg begynte min studietid i Markedsføring og Ledelse, da dette virket som en spennende linje og det var i nydelige Kristiansand. Jeg merket etter et år at dette ikke var for meg.
						Men lærte mye verdifult om meg selv, retningen jeg vil og markedsføring.
					</p>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
					Cloud Management<img
					alt="skills"
					width="40"
					height="40"
					src="/assets/skillsicons/cloud-server.png"/>
				
					
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
