---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Java - Javascript - Astro.
			Selv om jeg ikke har omfattende erfaring innen full-stack-utvikling, har jeg en solid base i Java og JavaScript og er ivrig etter å lære mer om feltet. På lang sikt er jeg forpliktet til å bli en dyktig full-stack-utvikler og holde meg oppdatert på de nyeste bransjetrendene og teknologiene.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>HR-Tech</h2>
		<p>Bachelor innen HR-Tech. Systemer, automatisering og samhandling mellom menneske og maskin. Lærer mye om SAP på fritiden og har SAP-erfaring fra jobb.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Selger</h2>
		<p>20.000+ fornøyde kunder i løpet av 7 år i Elkjøp. Les mer under Arbeid!</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
